.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 300px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.modal-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.option:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
  transform: scale(1.05);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

p {
  margin: 0;
  transition: color 0.3s ease;
}

.option:hover p {
  color: #007bff; /* Change the text color on hover */
}

.submit-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around; /* Space out the buttons */
}

.submit-button, .change-image-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover, .change-image-button:hover {
  background-color: #0056b3;
}

.change-image-button {
  background-color: #6c757d;
}

.change-image-button:hover {
  background-color: #5a6268;
}

.image-preview {
  margin-top: 15px;
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
}

.camera-preview {
  margin-top: 20px;
  text-align: center;
}
